# macOS specific files
.DS_Store

# Swift Package Manager
/.build/
/Package.resolved

# Xcode files
*.xcuserstate
*.xcworkspace
*.xcodeproj/xcuserdata/
*.xcproj
*.xcodeproj/project.xcworkspace/xcuserdata/